<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.urbanui.com/melody/template/pages/tables/data-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:08:40 GMT -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <%=appName%>| <%=pageTitle%>
    </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <%- include("../parts/navbar") -%>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">

                <!-- partial:../../partials/_sidebar.html -->
                <%- include("../parts/sidebar") -%>
                    <!-- partial -->

                    <div class="main-panel">
                        <div class="content-wrapper">
                            <div class="page-header">
                                <h3 class="page-title">
                                    <%=pageTitle%>
                                </h3>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <div id="contact">
                                                <button type="button" class="btn btn-success btn"
                                                    onclick="addClassroom()">Ajouter cours (Matière)</button>
                                                <button type="button" class="btn btn-info btn"
                                                    onclick="assignCoursesModal()">Assignation de cours</button>
                                                <i class="fa fa-filter fa-2x to-link" title="Filtre" data-toggle="modal"
                                                    data-target="#filter-modal" aria-hidden="true"></i>
                                            </div>
                                        </li>

                                    </ol>
                                </nav>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title h-red">
                                        <% if(locals.msg){ %>
                                            <%=msg %>
                                                <% } %>
                                    </h4>
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="table-responsive table-striped">
                                                <table id="order-listing" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Niveau</th>
                                                            <th>Cours(Matière)</th>
                                                            <th>Code</th>
                                                            <th>Position sur le bulletin</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% coursesList.forEach((course)=> {
                                                            css_class ="";
                                                            desactive = "";
                                                            if(course.active==0){
                                                            css_class="h-red";
                                                            desactive = "Ce cours est désactivé.";
                                                            }
                                                            %>
                                                            <tr class="<%=css_class%>" title="<%=desactive%>">
                                                                <td>
                                                                    <% if(niveau!=0){ %>
                                                                        <%=niveau%>
                                                                            <%}else{%>
                                                                                Système
                                                                                <%}%>
                                                                </td>
                                                                <td>
                                                                    <%=course.libelle%>
                                                                </td>

                                                                <td>
                                                                    <%=course.code%>
                                                                </td>
                                                                <td>
                                                                    <%=course.position%>
                                                                </td>
                                                                <td>
                                                                    <% if(niveau==0){ %>
                                                                        <i class="fas fa-edit to-link"
                                                                            title="Modifier <%=course.classe%>"
                                                                            onclick="editCourse('<%=course.id%>','<%=course.categorie%>','<%=course.code%>','<%=course.libelle%>')"></i>
                                                                        &nbsp;&nbsp;&nbsp;
                                                                        <% }else{ %>
                                                                            <i class="fas fa-edit to-link"
                                                                                title="Modifier <%=course.libelle%>"
                                                                                onclick="editCourseAssigment('<%=course.assigment_id%>','<%=course.id%>','<%=course.libelle%>','<%=course.salle_classe%>','<%=course.coefficient%>','<%=course.position%>','<%=course.professeur%>','<%=course.active%>')"></i>
                                                                            &nbsp;&nbsp;&nbsp;
                                                                            <a title="Palmarès" target="_blank"
                                                                                href="/print-course-palmares?ClassRoom=<%=roomSelected%>&AneAca=<%=yearSelected%>&Course=<%=course.libelle+' | '+course.code%>&Periode=<%=periodSelected%>"><i
                                                                                    class="fa fa-print"></i></a>
                                                                            <% } %>
                                                                </td>

                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- content-wrapper ends -->
                        <!-- partial:../../partials/_footer.html -->
                        <%- include("../parts/footer") -%>
                            <!-- partial -->
                    </div>
                    <!-- main-panel ends -->

                    <!-- ADD COURSES -->
                    <div id="course-modal" class="modal fade" role="dialog" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <strong id="modalTitle">Nouveau cours(Matière)</strong>
                                    <a class="close" data-dismiss="modal">×</a>
                                </div>
                                <form id="courseForm" name="contact" role="form" method="POST">

                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="Categorie">Categorie</label>
                                            <select class="form-control" name="Categorie" required id="Categorie"
                                                onchange="autoFill(this)">
                                                <option value="0">------Choisissez la catégorie------</option>
                                                <% courseCategories.forEach((item)=> { %>
                                                    <option value="<%=item.id%>">
                                                        <%=item.categorie%>
                                                    </option>
                                                    <% }) %>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label for="courseName">Nom du cours (Matière)</label>
                                            <input type="text" required name="courseName" id="courseName"
                                                class="form-control" placeholder="Cours (Matière)">
                                        </div>

                                        <div class="form-group">
                                            <label for="courseCode">Code du cours (Matière)</label>
                                            <input type="text" required name="courseCode" id="courseCode"
                                                class="form-control" placeholder="Code du Cours (Matière)">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" id='btnCourse' value="Enregistrer" class="btn btn-success"
                                            id="submit">
                                        <input type="hidden" name="actionField" id="actionField">
                                        <input type="hidden" name="courseID" id="courseID">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- ASSIGN COURSES -->
                    <div id="courseAss-modal" class="modal fade" role="dialog" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <strong id="modalTitleAssigment">Formation de liste de cours</strong>
                                    <a class="close" data-dismiss="modal">×</a>
                                </div>
                                <form id="assignCoursesForm" name="contact" role="form" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="ClassRoom">Salle de classe</label>
                                            <select class="form-control" name="ClassRoom" required id="ClassRoom"
                                                name="EditClassRoom">
                                                <% classrooms.forEach((classroom)=> { %>
                                                    <option value="<%=classroom.id%>">
                                                        <%=classroom.classe%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="coursesList">Liste des cours (Matières)</label>
                                            <div class="form-inline">
                                                <select class="form-control w-40" required id="coursesList"
                                                    name="EditCourse">
                                                    <% data.forEach((course)=> { %>
                                                        <option value="<%=course.id%>">
                                                            <%=course.libelle%>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                                &nbsp;
                                                <input type="number" class="form-control w-30" min="1"
                                                    title="coefficient" placeholder="Coefficient" id="coefficient"
                                                    name="EditCoeff">
                                                &nbsp;
                                                <input type="number" class="form-control w-25" min="1"
                                                    title="Position sur le bulletin" placeholder="Position"
                                                    id="Position" name="EditPos">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Professeur">Professeur</label>
                                            <select class="form-control" id="Professeur" name="EditProf">
                                                <option value="0">Choisissez le professeur</option>
                                                <% teachersList.forEach((teacher)=> { %>
                                                    <option value="<%=teacher.id_personne%>">
                                                        <%=teacher.fullname%>
                                                    </option>
                                                    <% }) %>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label for="Activation">Activé/Désactivé</label>
                                            <select class="form-control" id="Activation" name="Activation" disabled>
                                                <option value="1">Activé</option>
                                                <option value="0">Désactivé</option>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <i class="fa fa-plus fa-2x to-link" title="Ajouter" id="btnAddItem"
                                                onclick="addItem()"></i>
                                        </div>
                                        <div class="form-group" id="courseSelected" align="center">
                                            <strong>SELECTION</strong>
                                            <ol id="csList">
                                            </ol>
                                        </div>


                                    </div>
                                    <input type="hidden" name="actionField" id="actionFieldAsignment">
                                    <input type="hidden" name="assignmentID" id="assignmentID">
                                </form>
                                <div class="modal-footer">
                                    <input type="submit" id='btnAssignation' value="Enregistrer"
                                        onclick="assignCourses()" class="btn btn-success" id="submit">


                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- FILTER -->
                    <div id="filter-modal" class="modal fade" role="dialog" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <strong id="modalFilterTitle">Filtre</strong>
                                    <a class="close" data-dismiss="modal">×</a>
                                </div>
                                <form id="FilterForm" role="form" method="POST">
                                    <div class="modal-body">
                                        <div class="form-inline">
                                            <select class="form-control w-40" name="classRoomId"
                                                onchange="autoFill(this)">
                                                <% classrooms.forEach((classroom)=> { %>
                                                    <option value="<%=classroom.id%>">
                                                        <%=classroom.classe%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                            &nbsp;
                                            <select class="form-control w-25" name="Period" id="Period">
                                                <option>All</option>
                                                <% periodList.forEach((periode)=> { %>
                                                    <option value="<%=periode.periode%>">
                                                        <%=periode.periode%>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                            &nbsp;
                                            <select class="form-control w-25" name="AneAca">
                                                <% aneacaList.forEach((year)=> { %>
                                                    <option <% if(yearSelected==year.aneaca){ %>
                                                        selected <% } %>
                                                            value="<%=year.aneaca%>">
                                                                <%=year.aneaca%>
                                                    </option>
                                                    <% }) %>
                                            </select>

                                            <input type="hidden" name="classRoomSelectedNiveau"
                                                id="classRoomSelectedNiveau">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" value="Continuer" class="btn btn-success">
                                        <input type="hidden" name="actionField" value="Filter" id="actionField">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

            </div>
            <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <script src="../../vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/misc.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../../js/data-table.js"></script>

    <script src="../../js/select2.js"></script>
    <!-- End custom js for this page-->
    <script>
        //AUTOFILL CLASSNAME ON SELECTED ITEM
        function autoFill(Niveau) {
            let classroomName = $("#classroomName");
            if (Niveau.selectedIndex != 0) {
                let generateClassroomName = Niveau.options[Niveau.selectedIndex].text;
                classroomName.val(generateClassroomName);
            } else {
                classroomName.val("");
            }
        }

        //========================== ADD COURSE ===============================
        function addClassroom() {
            $("#modalTitle").html("Nouveau cours(Matière) ");
            $("#courseName").val("");
            $("#courseCode").val("");
            $("#courseID").val("");
            $("#actionField").val("Add");
            $("#btnCourse").val("Enregistrer");
            $("#btnCourse").removeClass();
            $("#btnCourse").addClass("btn btn-success");
            $("#course-modal").modal();
        }
        //EDIT INFO ABOUT COURSE
        function editCourse(courseID, courseCategorie, courseCode, courseName) {
            $("#modalTitle").html("Modification " + courseName);
            $("#courseName").val(courseName);
            $("#Categorie").val(courseCategorie).change();
            $("#courseID").val(courseID);
            $("#courseCode").val(courseCode);
            $("#actionField").val("Edit");
            $("#btnCourse").val("Modifier");
            $("#btnCourse").removeClass();
            $("#btnCourse").addClass("btn btn-success");
            $("#course-modal").modal();
        }

        //ASSIGNMENT
        function assignCoursesModal() {
            $("#modalTitleAssigment").html("Formation de liste de cours ");
            $("#btnAddItem").show();
            $("#courseSelected").show();
            $("#assignmentID").val(0)
            $("#courseID").val(0);
            $("#coefficient").val(20);
            $("#Position").val(1);
            $("#Professeur").val(0);
            $("#actionFieldAsignment").val("Add");
            $("#btnAssignation").val("Enregistrer");
            $("#btnAssignation").removeClass();
            $("#btnAssignation").addClass("btn btn-success");
            $("#courseAss-modal").modal();
        }
        //EDIT INFO ABOUT COURSE
        function editCourseAssigment(assignmentID, courseID, courseName, classroomID, coeff, position, professeur, activation) {
            $("#csList").empty();
            $("#btnAddItem").hide();
            $("#courseSelected").hide();
            $("#modalTitleAssigment").html("Modification de l'assignation : " + courseName.toUpperCase());
            $("#assignmentID").val(assignmentID);
            $("#ClassRoom").val(classroomID).change();
            $("#coursesList").val(courseID).change();
            $("#courseID").val(courseID);
            $("#coefficient").val(coeff);
            $("#Position").val(position);
            $("#Professeur").val(professeur);
            $("#Activation").attr("disabled", false);
            $("#Activation").val(activation);
            $("#actionFieldAsignment").val("Edit");
            $("#btnAssignation").val("Modifier");
            $("#btnAssignation").removeClass();
            $("#btnAssignation").addClass("btn btn-success");
            $("#courseAss-modal").modal();
        }
        //DELETE INFO ABOUT COURSE
        function deleteClassroom(classroomID, classroomNiveau, classroomName, abrevClassroomName) {
            $("#modalTitle").html("Voulez-vous supprimer " + classroomName + " ?");
            $("#classroomForm").blur();
            $("#Niveau").val(classroomNiveau);
            $("#classroomName").val(classroomName);
            $("#abrevClassroomName").val(abrevClassroomName);
            $("#classroomID").val(classroomID);
            $("#actionField").val("Delete");
            $("#btnClassroom").val("Supprimer");
            $("#btnClassroom").removeClass();
            $("#btnClassroom").addClass("btn btn-danger");
            $("#classroom-modal").modal();
        }
        ///================================== MANAGe SELECTED LIST =============================
        let Cart = [];
        function addItem() {
            let course = $("#coursesList option:selected").text();
            let courseID = $("#coursesList").val();
            let coeff = $("#coefficient").val();
            let position = $("#Position").val();
            let prof = $("#Professeur").val();
            let profName = $("#Professeur option:selected").text();

            let ul = $("#csList");
            task = course + " | " + profName + " | COEFF : " + coeff + " | POS : " + position;
            let fieldsCoursID = "<input type='hidden' name='Cours[]' value='" + courseID + "' id='Cours" + courseID + "'> ";
            let fieldsCoeff = "<input type='hidden' name='Coeff[]' value='" + coeff + "' id='Coeff" + courseID + "' >";
            let fieldsPos = "<input type='hidden' name='Position[]' value='" + position + "' id='Pos" + courseID + "' >";
            let fieldsProf = "<input type='hidden' name='Prof[]' value='" + prof + "' id='Prof" + courseID + "' >";
            let remove = "<i class='fa fa-times to-link h-red' onclick='removeItem(" + courseID + ")'></i>"
            let fields = fieldsCoursID + fieldsCoeff + fieldsPos + fieldsProf + remove;
            let html = '<li id="li' + courseID + '"><span>' + task + fields + '</span></li>';
            if (Cart.includes(courseID)) {
                console.log(courseID + " IS ALREADY IN CART CART : ", Cart);
                //REMOVE THE LINE AND REPLACE IT BY THE NEW INPUT
                removeItem(courseID);
                ul.append(html);
            } else {
                Cart.push(courseID);
                ul.append(html);
            }
            console.log("CART : ", Cart);

        }

        function removeItem(courseID) {
            var li = $("#li" + courseID);
            li.remove();
        }
        //ASSIGN COURSES TO CLASSROOM

        function assignCourses() {
            let ul = $("#csList");
            if ($("#csList li").length > 0 || $("#actionFieldAsignment").val() == "Edit") {
                let formData = $("#assignCoursesForm").serialize();
                $.post("/courses-assignation", formData, function (data) {
                    // if (data.success) { //Success 
                    //     $("#notifySignature").html(data.msg);
                    // } else {
                    //     $("#notifySignature").html(data.msg);
                    // }
                });
            } else {
                alert("Vous devez selectionner les cours (matiéres)...");
            }

        }


    </script>
</body>


<!-- Mirrored from www.urbanui.com/melody/template/pages/tables/data-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:08:41 GMT -->

</html>