<!DOCTYPE html>
<html>

<head>
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/print.css">
    <title> <%=pageTitle%></title>
</head>

<body onload="window.print()">
    <%- include("header") -%>
        <div class="row-header-table">
            <div class="title-report">
                <%=pageTitle%><br>
                Semaine du _________ au ________ Mois _________________ Année ____________
                <br>
            </div>
        </div>
        </div>
        <div class=" row-report">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Elèves/Etudiants</th>
                                <th class="td-list">Lundi</th>
                                <th class="td-list">Mardi</th>
                                <th class="td-list">Mercredi</th>
                                <th class="td-list">Jeudi</th>
                                <th class="td-list">Vendredi</th>
                                <th class="td-list">Remarques</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let pos=1; studentList.forEach((Student)=> { %>
                                <tr>
                                    <td align="center"><%=pos%></td>
                                    <td class="td-fullname">
                                        <% if(niveau=="All"){ %>
                                            <%=Student.nom.toUpperCase()+" "+Student.prenom%>&nbsp;
                                            <strong><%=Student.abv%></strong>
                                        <% }else{ %>
                                            <%=Student.nom.toUpperCase()+" "+Student.prenom%>
                                        <% } %>
                                    </td>
                                    <td class="td-list"></td>
                                    <td class="td-list"></td>
                                    <td class="td-list"></td>
                                    <td class="td-list"></td>
                                    <td class="td-list"></td>
                                    <td class="td-fullname"></td>
                                </tr>
                                <% pos++; }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</body>

</html>