<!DOCTYPE html>
<html>

<head>
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/print.css">
    <title><%=pageTitle%></title>
</head>

<body onload="window.print()">
    <%- include("header") -%>
        <div class="row-header-table">
            <div class="title-report">
                <%=pageTitle%><br>
                <br>
            </div>
        </div>
        </div>
        <div class=" row-report">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Elèves/Etudiants</th>
                                <%if(displayClassroom){%>
                                    <th>Classe</th>
                                <%}%>
                                <th>Moyenne</th>
                                <th>Remarques</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let pos=1; studentList.forEach((Student)=> { %>
                                <tr>
                                    <td class="td-list" align="center"><%=pos%></td>
                                    <td class="td-fullname">
                                        <%=Student.fullname%>
                                    </td>
                                    <%if(displayClassroom){%>
                                    <td class="td-classroom">
                                        <%=Student.classe%>
                                    </td>
                                    <%}%>
                                    <td class="td-list" align="center"> <%=Student.Moyenne%></td>
                                    <td class="td-vn"></td>
                                </tr>
                                <% pos++; }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</body>

</html>